@model XueLeMeBackend.Models.Forms.ResetPasswordForm
@{
    ViewData["Title"] = "重置密码";
}

<h1>重置您的密码</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <form id="reset-form" asp-controller="ParentAccountController" asp-action="ResetPassword" asp-route-token="@Model.Token">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Token" class="control-label">重置令牌</label>
                <input asp-for="Token" class="form-control" hidden />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label">邮箱</label>
                <input asp-for="EmailAddress" class="form-control" disabled />
                <input asp-for="EmailAddress" class="form-control" hidden />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">新密码</label>
                <input id="one" asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">确认密码</label>
                <input id="two" asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submit-button" type="submit" value="重置" class="btn btn-primary" />
            </div>
        </form>
        @if (@Model.ConfirmPassword != @Model.Password)
        {
            <script>
            alert("两次输入密码不相同!")
            </script>
        }
        <script>
            $(function () {
                $('#submit-button').click((e) => {
                    var one = $('#one').val()
                    var two = $('#two').val()
                    if (one !== two) {
                        alert('两个密码不一致!')
                    } else if (one.length < 6) {
                        alert('密码至少六位!')
                    } else {
                        return
                    }
                    e.preventDefault()
                })
            })
        </script>
    </div>
</div>