
@{
    ViewData["Title"] = "技术人生";
}

<h1>算法实现</h1>

<div style="display: flex; align-items:center; justify-content:center;">
    <div style="height: 200px;">
        <a href="https://github.com/DarrenDanielDay/CompilerPlus" target="_blank">正则表达式的三个算法：Thompson 构造法、子集构造法、直接构造法 - C++实现</a>
    </div>
</div>